.logo-container {
    width: 100%;
}

.nav-item {
    /* rems are relative units of measurement 1rem is equal to 16px */
    margin-left: 1rem;
    margin-right: 1rem;
}

.nav-link {
    color: white;
    text-transform: uppercase;
    letter-spacing: 0.05em;
}

.header-desktop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transition: transform 0.5s ease;
    transform: translateY(-100%);
}

.logo-svg {
    width: 130px;
    height: 72px;
}

.logo-svg path,
.logo-svg polygon {
    fill: white;
}